
@import url('https://fonts.googleapis.com/css2?family=Bungee+Inline&family=Monoton&display=swap');

*{
    padding: 0;
    margin:0;
    box-sizing: border-box;
}

body{
    height: 100vh;
    display: flex;
    background: #FCBF49;
    justify-content: center;
   
}
h1{
    font-family: 'Bungee Inline', cursive;
    font-weight: 700;
    font-style: normal;
    font-size: 93px;
    line-height: 1.15;
    letter-spacing: -.02em;
    color: black;
    text-align: center;
    display: block;
    position: absolute;
    top: 10px;
    left: 50%;
    transform: translateX(-50%);


}
.tablero{
    width: 600px;
    height: 600px;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    margin-top: 130px;
    perspective: 1000px;
    
  }
.carta-memoria{
    width: calc(100%/4 - 10px);
    height: calc(100%/4 - 10px);
    margin: 5px;
    position: relative; 
    transform-style: preserve-3d;
    box-shadow: 1px 1px 1px rgba(0,0,0,.3);
    transform: scale (1);
    transform-style: preserve-3d;
    transition: transform .5s;
  }
  .carta-memoria:active{
    transform: scale(0.97);
    transition: transform .2s;
  }
  
.cara-frontal,
.cara-trasera {
    width: 100%;
    height: 100%;
    padding: 10px;
    position: absolute; 
    border-radius: 5px;
    background: #E36414;
    backface-visibility: hidden;
   
  }

  .carta-memoria.voltear {
    transform: rotateY(180deg);
  }

  .cara-frontal{
    transform: rotateY(180deg)
  }